
#root {
    -fx-background-color: #404142;
}

.input-label {

    -fx-font-size: 28px;
    -fx-text-fill: white;
}

.input-field {

    -fx-text-fill: black;
    -fx-font-size: 28px;
}

#save {

    -fx-font-size: 32px;
}


